div(ng-init="setState('contact')")
	div#cont
		.col-md-12
			.center-block.fullW

				h1 Contact me!
				br
				br
				h3 Have any questions, need any help? 

				h3 Want to report some bugs?
				br
				h3
					| Send me an email at 
				h2	tsokos
					i(class="fa fa-at")
					| uth.gr